.il-layout-page {
    background: white;
    hyphens: unset;
    -webkit-hyphens: unset;
    -ms-hyphens: unset;
    -moz-hyphens: unset;
}
#il_center_col {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#il_right_col {
    padding-left: 15px !important;
    padding-right: 15px !important;
}